.card{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.card i{
    font-size: 48px;
}
.card h3{
    font-size: 28px;
    margin-top: 18px;
}