.contact{
    margin-top: 60px;
    margin-bottom: 100px;
}
.contact_main{
    padding: 70px 0;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.contact_text{
    text-align: center;
}
.contact_text h3{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
}
.contact_text p{
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #948daa;
    padding: 0 320px;
}

.form_main{
    padding: 55px 77px;
    background-color: #F4F6FC;
    display: flex;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.form_main label{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.form_main input{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}
.msg{
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}
.form_btn{
    margin-top: 25px !important;
}
.form_btn .btn{
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 32px !important;
    color: #F4F6FC !important;
    padding: 15px 51px !important;
    border-radius: 41px !important;
    background-color: #282938 !important;
    -webkit-border-radius: 41px !important;
    -moz-border-radius: 41px !important;
    -ms-border-radius: 41px !important;
    -o-border-radius: 41px !important;
}
.btn:hover{
    background-color: #282938;
    color: #adff00 !important;
}
.scroll-to-top {
    background-image: linear-gradient(to right, #0575E6, #021B79);
    right: 120px !important;
    bottom: 40px;
    position: fixed;
    color: white !important;
    z-index: 2;
    cursor: pointer;
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
    border: none;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}

@media(max-width: 1199px){
    .form_main {
        padding: 55px 20px;
    }
    .contact_text p {
        padding: 0px;
    }
};
