.ban_main{
    padding: 100px 0;
    background-color: #212228;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.imag_1{
    background: url(../../assets/miraz.jpg) no-repeat center / cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.name{
    font-family: "Poppins", sans-serif;
    font-size: 90px;
    color: #fff;
    text-align: center;
}
.name small{
    font-size: 24px;
    margin-bottom: 12px;
    display: block;
}
.name strong{
    color: #adff00;
    font-weight: 600;
}
.index-module_type__E-SaG{
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.type_anim{
    text-align: center;
}
.ban_btn{
    text-align: center;
    margin-top: 50px;
}
.ban_btn .btn_one{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #222;
    letter-spacing: 1px;
    background-color: #adff00;
    text-transform: uppercase;
    padding: 15px 42px;
    border-radius: 5px;
    transition: 0.5s;
    margin-right: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.ban_btn .btn_one:hover{
    color: #fff;
}
.ban_btn .btn_two{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff ;
    letter-spacing: 1px;
    background-color: #222;
    text-transform: uppercase;
    border: 2px solid #adff00;
    padding: 13px 40px;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.ban_btn .btn_two:hover{
    background-color: #adff00;
    color: #222;
    border: 2px solid transparent;
}
.world_main{
    margin-top: 60px;
}
.world{
    padding: 100px 0;
    background-color: #fff;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.world_text{
    text-align: center;
}
.world_text h3{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.world_text p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 370px;
    color: #948daa;
    margin-top: 20px;
}
.cli-main{
    margin-top: 60px;
}
.cli{
    padding: 100px 0;
    background-color: #212228;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.cli_one{
    text-align: center;
}
.cli_two{
    text-align: center;
}
.cli_three{
    text-align: center;
}
.cli_four{
    text-align: center;
}